{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Mapaly - Mapas interactivos para aprender{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'leaflet.css' %}">
        <link rel="stylesheet" href="{% static 'fonts.css' %}">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script src="{% static 'leaflet.js' %}"></script>
    </head>
    <body>
        <header>
            <div class="spacer"></div>
            <div class="logo">
                <a href="/">
                    <img src="{% static 'mapaly-icon.svg' %}"><h1><span class="green">Map</span><span class="blue">aly</span></h1>
                </a>
            </div>
            <div class="login-header">
                {% if user.is_authenticated %}
                <a class="primary-action-button" href="{% url 'dashboard' %}">Mi perfil</a>
                <a class="secondary-action-button" href="{% url 'logout' %}">Cerrar sesión</a>
                {% else %}
                <a class="primary-action-button" href="{% url 'login' %}">Iniciar sesión</a>
                <a class="secondary-action-button" href="{% url 'register' %}">Registrarse</a>
                {% endif %}
            </div>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            &copy; <a href="https://adrianistan.eu">Adrián Arroyo Calle 2020</a>
        </footer>
    </body>
</html>