{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Mapaquiz - Mapas interactivos para aprender{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'leaflet.css' %}">
        <link rel="stylesheet" href="{% static 'fonts.css' %}">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script src="{% static 'leaflet.js' %}"></script>
    </head>
    <body>
        <header>
            <div class="spacer"></div>
            <div class="logo">
                <a href="/">
                    <img src="{% static 'mapaly-icon.svg' %}"><h1><span class="green">Mapa</span><span class="blue">quiz</span></h1>
                </a>
            </div>
            <div class="login-header">
                {% if user.is_authenticated %}
                <a class="primary-action-button" href="{% url 'dashboard' %}">Mi perfil</a>
                <a class="secondary-action-button" href="{% url 'logout' %}">Cerrar sesión</a>
                {% else %}
                <a class="primary-action-button" href="{% url 'login' %}">Iniciar sesión</a>
                <a class="secondary-action-button" href="{% url 'register' %}">Registrarse</a>
                {% endif %}
            </div>            
        </header>
        <form class="search" method="GET" action="/search">
            <input name="q" type="search" placeholder="Regiones, Alemania...">
            <input class="secondary-action-button" type="image" width="24" height="24" src="{% static 'search.svg' %}">
        </form>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <p class="footer__description">
                Juega y aprende con mapaquizs. ¿Qué es un mapaquiz? Un juego de preguntas donde la respuesta está clicando en un mapa. Crea tus propios mapaquizs y compártelos con otros usuarios.
            </p>
            <p>
            &copy; <a href="https://adrianistan.eu">Adrián Arroyo Calle 2020</a>
            </p>
        </footer>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20035972-42"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-20035972-42');
        </script>
    </body>
</html>