{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Mapaly - Mapas interactivos para aprender{% endblock %}</title>
        <link rel="stylesheet" href="/intermap/leaflet.css">
        <link rel="stylesheet" href="/intermap/main.css">
        <link rel="stylesheet" href="{% static 'fonts.css' %}">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script src="/intermap/leaflet.js"></script>
    </head>
    <body>
        <header class="page">
            <img src="{% static 'mapaly-icon.svg' %}"><h1><span class="green">Map</span><span class="blue">aly</span></h1>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>