body{
    margin: 0;
    padding: 0;
    font-family: 'BalooTamma';
}

header{
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header > div{
    flex: 1;
}

.spacer{
    flex: 0;
}

.logo > a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logo > a > img{
    height: 50pt;
    width: auto;
}
.logo > a > h1 {
    font-size: 32pt;
    font-family: 'Fredoka One';
}

.login-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2px;
}

.footer__description{
    width: 50vw;
}

.primary-action-button{
    background-color: #37c837;
    color: white;
    border-radius: 12px;
    border-width: 0px;
    font-size: 15pt;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.secondary-action-button{
    background-color: white;
    color: #37c837;
    font-size: 15pt;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.red-action-button{
    background-color: white;
    color: #ee5d4a;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    font-size: 15pt;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.green{
    color: #37c837;
}

.blue{
    color: #0066ff;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.search > input[type="search"] {
    border-color: #37c837;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    padding-left: 12px;
}

.search > input[type="image"]{
    margin-top: -5px;
}

main{
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-image:
        url("world.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content{
    width: 100%;
    height: 100%;
    background-color: white;
}
.language-selector{
    background-color: white;
}
.language-selector > a, .language-selector > a:visited{
    color: #0066ff;
}

.quiz-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
    justify-content: center;
}
.quiz-item{
    border-width: 5px;
    border-style: solid;
    border-color:  #0066ff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 14em;
    min-width: 8em;
    height: 200px;
    background-color: white;
    width: 200px;
}

.quiz-item > img {
    object-fit: cover;
    width: 100%;
    height: calc(100% - 5em);
}
.quiz-item > a {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    height: 3.5em;
}

.quiz-item > small{
    padding-left: 5px;
    padding-right: 5px;
    height: 1.5em;
}

/* Login/Register */
.center-form{
    margin: 10px;
    justify-content: center;
    display: flex;
}

.login-form{
    border-color:  #0066ff;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
}

.login-form > p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-form textarea{
    max-width: 100%;
}

.login-form > input[type="submit"] {
    background-color: #37c837;
    color: white;
    border-radius: 12px;
    border-width: 0px;
    font-size: 15pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

.errors{
    background-color: rgb(255, 175, 175);
    border-radius: 5px;
    padding-left: 7px;
    list-style: none;
}

@media(min-width: 600px){
    .login-form{
        max-width: 25vw;
    }
    header{
        flex-wrap: no-wrap;
    }
    .spacer{
        flex: 1;
    }
    .quiz-grid{
        justify-content: initial;
    }
}
/* Dashboard */
.dashboard{
    display: flex;
}

.quiz-list{
    background-color: white;
    margin-left: 5em;
    border-color: #0066ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: 1fr;
    padding-left: 5px;
    align-items: center;
    font-size: 15pt;
}

.header-list{
    font-weight: bold;
}

.center-button{
    display: flex;
    justify-content: center;
}

.red-action-input {
    background-color: #ee5d4a;
    color: white;
    border-radius: 12px;
    border-width: 0px;
    font-size: 15pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Create */
.create-form{
    border-color:  #0066ff;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    width: 300px;
}

.create-form > p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-form > input[type="submit"] {
    background-color: #37c837;
    color: white;
    border-radius: 12px;
    border-width: 0px;
    font-size: 15pt;
    padding-top: 5px;
    padding-bottom: 5px;
}
.map-selector > input[type="radio"]{
    display: none;
}

.map-selector{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.option_label{
    border-color: #37c837;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    padding-left: 5px;
}

.option:checked:nth-of-type(1) ~ .option_label:nth-of-type(1){
    border-width: 3px;
    border-radius: 10px;
    border-bottom-width: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.option:checked:nth-of-type(2) ~ .option_label:nth-of-type(2){
    border-width: 3px;
    border-radius: 10px;
    border-bottom-width: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.option__content{
    display: none;
    padding-left: 5px;
}

.option:checked:nth-of-type(1) ~ .option__content:nth-of-type(1) {
    display: inherit;
    grid-column: 1 / 3;
    border-color: #37c837;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-top-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.option:checked:nth-of-type(2) ~ .option__content:nth-of-type(2) {
    display: inherit;
    grid-column: 1 / 3;
    border-color: #37c837;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-top-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* Editor */
.question-adder{
    display: grid;
    gap: 10px;
    background-color: white;
    border-color: #0066ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    height: 200pt;
}

.list-questions{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    border-color: #0066ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}

.question-item{
    height: 14pt;
}

.top-editor{
    display: flex;
    width: 100%;
    height: 75vh;
}
#editor-map{
    flex: 5;
    margin-right: 25px;
}
@media(max-width: 600px){
    .top-editor{
        flex-direction: column;
    }
}
.end-menu, .general-settings{
    background-color: white;
    border-color: #0066ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    margin-top: 10px;
}

.general-settings{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.general-settings > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
}

.general-settings > div > textarea{
    width: 100%;
    height: 100%;
}

.general-settings > div > img{
    width: 100%;
}

/* Quiz */
#main{
    display: flex;
    width: 100%;
}
#map{
    width: 100%;
    height: 70vh;
    min-height: 50vh;
    flex: 5;
}
.volume{
    width: 24px;
    height: 24px;
}
#panel-info{
    display: grid;
    grid-template-rows: auto auto auto auto auto 1fr auto;
    gap: 10px;
    background-color: white;
    border-color: #0066ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}
.panel-center{
    text-align: center;
}
@media(max-width: 600px){
    #main{
        flex-direction: column;
    }
}

#mini-image{
    display: flex;
    justify-content: center;
}

#mini-image-img{
    width: 128px;
    height: auto;
}

.dialog{
    position: absolute;
    top: 32.5vh;
    left: 32.5vw;
    width: 25vw;
    height: 25vh;
    background-color: white;
    z-index: 1000;
    border-color: #0066ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    padding: 22px;
    display: none;
}
#dialog-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #37c83796;
    display: none;
}

#close-share-dialog{
    background-image: url("close.png");
    width: 16px;
    height: 16px;
}

#close-win-dialog{
    background-image: url("close.png");
    width: 16px;
    height: 16px;
}

#share-dialog-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#win-dialog-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#share-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#share-icons > a{
    width: 32px;
    height: 32px;
}
#share-dialog-facebook{
    background-image: url("facebook.svg");
}
#share-dialog-twitter{
    background-image: url("twitter.svg");
}
#share-dialog-reddit{
    background-image: url("reddit.svg");
}
#share-dialog-telegram{
    background-image: url("telegram.svg");
}
#share-dialog-email{
    background-image: url("mail.svg");
}
#share-dialog-whatsapp{
    background-image: url("whatsapp.svg");
}

/* Comments */
@media(min-width: 600px){
    #comments{
        width: 50vw;
    }
}

#comments{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

#comments-center{
    display: flex;
    justify-content: center;
}

#comment-content{
    width: 100%;
}