header{
    height: 10vh;
}
#main{
    height: calc(80vh - 100px);
    display: flex;
}
#dialog{
    height: 50vh;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 25vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
/* Desktop */
#map{
    flex: 6;
    order: 1;
}
#info{
    flex: 1;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
}
#info-time{
    order: 2;
}
#info-progress{
    order: 3;
}
footer{
    height: 10vh;
}

/* Mobile */
@media(max-width: 600px){
    #main{
        flex-direction: column;
    }
    #map{
        order: 2;
    }
    #info{
        order: 1;
        flex-direction: row;
    }
    #info-question{
        order: 2;
    }
    #info-time{
        order: 1;
    }
    #info-progress{
        order: 3;
    }

}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}