{% extends "base.html" %}
{% load i18n %}

{% block main %}
<div class="language-selector">
    <span>{% translate "Showing mapaquizs in: " %}</span>
    {% if language == "en" %}
        <span>English</span>
    {% else %}
        <a href="{% url 'set-language' %}?lang=en">English</a>
    {% endif %}
    {% if language == "es" %}
        <span>Español</span>
    {% else %}
        <a href="{% url 'set-language' %}?lang=es">Español</a>
    {% endif %}
    {% if language == "all" %}
        <span>{% translate "All languages" %}</span>
    {% else %}
        <a href="{% url 'set-language' %}?lang=all">{% translate "All languages" %}</a>
    {% endif %}
</div>
<h2>Top Mapaquiz</h2>
<div class="quiz-grid">
    {% for quiz in top %}
    <div class="quiz-item">
        <img src="{{ quiz.front_image_url }}">
        <a title="{{ quiz.name }}" href="{% url 'quiz' quiz.slug %}">{{ quiz.name }}</a>
        <small><a href="/profile/{{ quiz.author.username }}/">{{ quiz.author.username }}</a></small>
    </div>
    {% endfor %}
</div>
<h2>{% translate "Most recent mapquizs" %}</h2>
<div class="quiz-grid">
    {% for quiz in page_obj %}
    <div class="quiz-item">
        <img src="{{ quiz.front_image_url }}">
        <a title="{{ quiz.name }}" href="{% url 'quiz' quiz.slug %}">{{ quiz.name }}</a>
        <small><a href="/profile/{{ quiz.author.username }}/">{{ quiz.author.username }}</a></small>
    </div>
    {% endfor %}
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">{% translate "Previous" %}</a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{% translate "Next" %}</a>
    {% endif %}
</div>
<div class="random-button">
    <a class="primary-action-button" href="{% url 'random-quiz' %}">{% translate "Play a random quiz" %}</a>
</div>
{% endblock %}