{% extends "base.html" %}

{% block main %}
<h2>Mapaquizs de "{{ user }}"</h2>
<div class="quiz-grid">
    {% for quiz in page_obj %}
    <div class="quiz-item">
        <img src="{{ quiz.front_image_url }}">
        <a title="{{ quiz.name }}" href="{% url 'quiz' quiz.slug %}">{{ quiz.name }}</a>
    </div>
    {% endfor %}
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    {% endif %}
</div>
{% endblock %}