{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block main %}
<h1>{{ quiz.name }}</h1>
<div class="page" id="main">
    <div id="map"></div>
    <div id="panel-info">
        <div id="question">
            
        </div>
        <div id="time">
            <span id="time-string">0:00</span>
        </div>
        <div id="progress">
            <p>{% translate "Score:" %} <span id="points">0</span></p>
        </div>
        <div id="info">

        </div>
        <div id="mini-image">
            <img id="mini-image-img" src="{{ quiz.front_image_url }}">
        </div>
        <div></div>
        <div class="panel-center">
            <a class="secondary-action-button" id="share">{% translate "Share" %}</a>
        </div>
    </div>
</div>
<div id="comments-center">
<div id="comments">
    {% if num_comments == 0 %}
    <div>{% translate "There are no comments yet. Be the first one to leave an opinion" %}</div>
    {% else %}
    {% for comment in comments %}
    <div>
        <p>{{ comment.content }}</p>
        <small><a href="/profile/{{ comment.author.username }}/">{{ comment.author.username }}</a> - {{ comment.created_at | date:"j/n/Y G:i" }} </small>
    </div>
    {% endfor %}
    {% endif %}
    <hr/>
    <h4>{% translate "Leave a comment" %}</h4>
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'add-comment' quiz.pk %}">
        {% csrf_token %}
        <textarea name="content" required id="comment-content" placeholder="{% translate 'Too difficult but entertaining' %}"></textarea>
        <input class="secondary-action-button" type="submit" value="{% translate 'Publish comment' %}">
    </form>
    {% else %}
    <div>
        <a href="{% url 'login' %}">{% translate "Login" %}</a>{% translate " or " %}<a href="{% url 'register' %}">{% translate "register" %}</a>{% translate " to leave a comment" %}
    </div>
    <hr/>
    {% endif %}
</div>
</div>
<div id="dialog-background"></div>
<div id="share-dialog" class="dialog">
    <div id="share-dialog-top">
        <h2>{% translate "Share:" %}</h2>
        <div id="close-share-dialog"></div>
    </div>
    <div id="share-dialog-middle">
        <p>{% translate "Share the mapquiz in social networks" %}</p>
        <div id="share-icons">
            <a href="https://www.facebook.com/sharer.php?u=https://mapaquiz.com{{ request.path }}" id="share-dialog-facebook"></a>
            <a href="https://www.twitter.com/share?url=https://mapaquiz.com{{ request.path }}&via=mapaly"" id="share-dialog-twitter"></a>
            <a href="https://reddit.com/submit?url=https://mapaquiz.com{{ request.path }}" id="share-dialog-reddit"></a>
            <a href="https://t.me/share/url?url=https://mapaquiz.com{{ request.path }}" id="share-dialog-telegram"></a>
            <a href="mailto:?body=https://mapaquiz.com{{ request.path }}" id="share-dialog-email"></a>
            <a href="https://wa.me/?text=https://mapaquiz.com{{ request.path }}" id="share-dialog-whatsapp"></a>
        </div>
    </div>
</div>
<div id="win-dialog" class="dialog">
    <div id="win-dialog-top">
        <h2>{% translate "Victory!" %}</h2>
        <div id="close-win-dialog"></div>
    </div>
    <div id="win-dialog-middle">
        <p>{% blocktranslate with name=quiz.name %}Congratulations for finishing the mapaquiz {{ name }}! You did it in {% endblocktranslate %}<span id="time-string-dialog"></span>{% translate " and you have scored " %}<span id="points-dialog"></span>{% translate " points." %}</p>
    </div>
    <div id="win-dialog-score">
        <h3>{% translate "Leaderboard" %}</h3>
        <table id="win-dialog-score-table">
            <tr>
                <th>{% translate "Username" %}</th>
                <th>{% translate "Score" %}</th>
                <th>{% translate "Time" %}</th>
            </tr>
        </table>
        {% if not user.is_authenticated %}
        <small>{% translate "Leaderboard only registers scores from logged in users" %}</small>
        {% endif %}
    </div>
</div>
<script type="module" src="{% static 'bundle.js' %}"></script>
{% endblock %}