{% extends "base.html" %}
{% load static %}


{% block main %}
<div class="page" id="main">
    <div id="map"></div>
    <div id="info">
        <div id="info-question">
            <h5>¿Dónde está?</h5>
            <h4 id="question-item"></h4>
        </div>
        <div id="info-time">

        </div>
        <div id="info-progress">

        </div>
    </div>
</div>
<div class="page" id="dialog">
    <h3>¡VICTORIA!</h3>
</div>
<script type="application/json" id="geojson-map">
{{ quiz.map.content | safe }}
</script>
<script type="application/json" id="quiz-data">
{{ quiz_data | safe }}
</script>
<script type="module" src="{% static 'mapaly/index.js' %}"></script>
{% endblock %}