#main{
    display: flex;
    width: 100%;
    height: 75vh;
}
#map{
    width: 100%;
    height: 100%;
    flex: 5;
}
#panel-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}