{% extends "base.html" %}

{% block main %}
<h2>Quizes de {{ user.username }}</h2>
<div class="dashboard">
    <div class="sidebar">
        <a class="primary-action-button" href="{% url 'create-quiz' %}">Crear nuevo quiz</a>
    </div>
    <div class="quiz-list">
        <span class="header-list">Nombre</span>
        <span class="header-list">Mapa base</span>
        <span></span>
        <span></span>
        {% for quiz in page_obj %}
            <a href="{% url 'quiz' quiz.slug %}">{{ quiz.name }}</a>
            <span>{{ quiz.map.name }}</span>
            <div class="center-button"><a class="primary-action-button" href="{% url 'editor' quiz.slug %}">Editar</a></div>
            <div class="center-button"><a class="red-action-button" href="{% url 'delete-quiz' quiz.pk %}">Borrar</a></div>
        {% endfor %}
        <span></span>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
        <span></span>
    </div>
</div>
{% endblock %}