{% extends "base.html" %}
{% load i18n %}

{% block main %}
<div class="center-form">
    <form method="POST" class="login-form">
        <p>
            {% translate "Login at Mapaquiz to be able to create your own Mapaquizs and leave comments." %}
        </p>
        <ul class="errors">
        {% for error in error_messages %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {{ form.as_p }}
        {% csrf_token %}
        <p>{% translate "Don't you have an account?" %} <a href="{% url 'register' %}">{% translate "Register" %}</a></p>
        <input type="submit" value="{% translate 'Login' %}">
    </form>
</div>
{% endblock %}