{% extends "base.html" %}
{% load i18n %}

{% block main %}
<div class="center-form">
    <form method="POST" class="login-form">
        <p>{% translate "Register at Mapaquiz to be able to create your own mapaquizs and leave comments" %}</p>
        <ul class="errors">
        {% for error in error_messages %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {{ form.as_p }}
        {% csrf_token %}
        <p>{% translate "At Mapaquiz we only store your username, your email, your password (hashed), the comments you made and the mapaquizs you create. We don't share data with any third party. At every moment you can request that we delete your data from our servers." %}</p>
        <input type="submit" value="{% translate 'Register' %}">
    </form>
</div>
{% endblock %}